body{
	background-color: #D7BDE2;
	font-family: "Verdana";
	margin: 5%;
}


h1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 50px;
	color: #633974;
	background-color: #F5EEF8;
	width: 80%;
	padding: 5px;
	border-style: solid;
	border-width: 3px;
	border-color: #76448A;
}


h4 {
	font-size: 25px;
	color: #633974;
}

img {
	height: 300px;
	width: auto;
}

.grid-item-icon {
	background-color:  #EBDEF0;
	height:  auto;
	margin:  5px;
	margin-bottom: 5px;
	padding: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: #76448A;
}

.grid-item-text {
	background-color:  #EBDEF0;
	height:  auto;
	margin:  5px;
	margin-bottom: 5px;
	padding:  20px;
	border-style: solid;
	border-width: 3px;
	border-color: #76448A;
}


@media(min-width: 681px)	{
	.grid-area {
		display:  flex;
		flex-wrap: wrap;
		justify-content: center;
}

	.grid-item-icon, .grid-item-text {
		flex-basis: 40%;
	}
}


